@font-face {
   font-family: 'SFProDisplay-Medium';
   font-display: swap;
   src: url('file:///C:/Users/admin/Downloads/Mobirise-master/bootstrap-templates/profile-template/fonts/SFProDisplay-Medium/font.ttf');
}
