@font-face {
   font-family: 'Trebuchet MS Bold Italic';
   src: url('Trebuchet MS Bold Italic/font.ttf');
}
@font-face {
   font-family: 'TrebuchetMSItalic';
   src: url('TrebuchetMSItalic/font.ttf');
}
@font-face {
   font-family: 'trebucbd_0';
   src: url('trebucbd_0/font.ttf');
}
@font-face {
   font-family: 'trebuc_0';
   src: url('trebuc_0/font.ttf');
}
