body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2352px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2352px;
  height:1764px;
}
#u471 {
  position:absolute;
  left:0px;
  top:0px;
  width:2352px;
  height:1764px;
}
#u472 {
  position:absolute;
  left:2px;
  top:874px;
  width:2348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2048px;
  height:1536px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u473 {
  position:absolute;
  left:152px;
  top:114px;
  width:2048px;
  height:1536px;
}
#u474 {
  position:absolute;
  left:2px;
  top:760px;
  width:2044px;
  visibility:hidden;
  word-wrap:break-word;
}
#u475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2050px;
  height:1530px;
  background:inherit;
  background-color:rgba(51, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u475 {
  position:absolute;
  left:151px;
  top:117px;
  width:2050px;
  height:1530px;
}
#u476 {
  position:absolute;
  left:2px;
  top:757px;
  width:2046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1930px;
  height:1091px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u477 {
  position:absolute;
  left:210px;
  top:499px;
  width:1930px;
  height:1091px;
}
#u478 {
  position:absolute;
  left:2px;
  top:538px;
  width:1926px;
  visibility:hidden;
  word-wrap:break-word;
}
#u479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u479 {
  position:absolute;
  left:615px;
  top:560px;
  width:213px;
  height:55px;
  font-size:48px;
}
#u480 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
  color:#000000;
}
#u481 {
  position:absolute;
  left:778px;
  top:188px;
  width:797px;
  height:82px;
  font-size:72px;
  color:#000000;
}
#u482 {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  white-space:nowrap;
}
#u483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u483 {
  position:absolute;
  left:230px;
  top:349px;
  width:110px;
  height:110px;
}
#u484 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u485 {
  position:absolute;
  left:276px;
  top:386px;
  width:19px;
  height:37px;
}
#u486 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u487 {
  position:absolute;
  left:615px;
  top:349px;
  width:110px;
  height:110px;
}
#u488 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u489 {
  position:absolute;
  left:661px;
  top:386px;
  width:19px;
  height:37px;
}
#u490 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u491 {
  position:absolute;
  left:1027px;
  top:349px;
  width:110px;
  height:110px;
}
#u492 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u493 {
  position:absolute;
  left:1073px;
  top:386px;
  width:19px;
  height:37px;
}
#u494 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u495 {
  position:absolute;
  left:1416px;
  top:349px;
  width:110px;
  height:110px;
}
#u496 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u497 {
  position:absolute;
  left:1462px;
  top:386px;
  width:19px;
  height:37px;
}
#u498 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u499 {
  position:absolute;
  left:1759px;
  top:349px;
  width:110px;
  height:110px;
}
#u500 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u501_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u501 {
  position:absolute;
  left:1805px;
  top:386px;
  width:19px;
  height:37px;
}
#u502 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u503 {
  position:absolute;
  left:2027px;
  top:349px;
  width:110px;
  height:110px;
}
#u504 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u505_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u505 {
  position:absolute;
  left:2073px;
  top:386px;
  width:19px;
  height:37px;
}
#u506 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u507_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:180px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u507 {
  position:absolute;
  left:1892px;
  top:1410px;
  width:248px;
  height:180px;
  font-size:48px;
}
#u508 {
  position:absolute;
  left:2px;
  top:62px;
  width:244px;
  word-wrap:break-word;
}
#u509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u509 {
  position:absolute;
  left:276px;
  top:794px;
  width:614px;
  height:90px;
}
#u510 {
  position:absolute;
  left:2px;
  top:37px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u511 {
  position:absolute;
  left:276px;
  top:928px;
  width:404px;
  height:90px;
}
#u512 {
  position:absolute;
  left:2px;
  top:37px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u513 {
  position:absolute;
  left:276px;
  top:1144px;
  width:404px;
  height:90px;
}
#u514 {
  position:absolute;
  left:2px;
  top:37px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u515 {
  position:absolute;
  left:325px;
  top:824px;
  width:294px;
  height:29px;
  font-size:36px;
  color:#999999;
}
#u516 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  white-space:nowrap;
}
#u517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u517 {
  position:absolute;
  left:325px;
  top:953px;
  width:338px;
  height:29px;
  font-size:36px;
  color:#999999;
}
#u518 {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  white-space:nowrap;
}
#u519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u519 {
  position:absolute;
  left:325px;
  top:1172px;
  width:287px;
  height:29px;
  font-size:36px;
  color:#999999;
}
#u520 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u521_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:377px;
}
#u521 {
  position:absolute;
  left:1715px;
  top:560px;
  width:377px;
  height:377px;
}
#u522 {
  position:absolute;
  left:2px;
  top:180px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:100px;
}
#u523 {
  position:absolute;
  left:1645px;
  top:867px;
  width:378px;
  height:100px;
}
#u524 {
  position:absolute;
  left:2px;
  top:42px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:78px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u525 {
  position:absolute;
  left:276px;
  top:1396px;
  width:248px;
  height:78px;
  font-size:48px;
}
#u526 {
  position:absolute;
  left:2px;
  top:12px;
  width:244px;
  word-wrap:break-word;
}
#u527 {
  position:absolute;
  left:974px;
  top:885px;
  width:761px;
  height:552px;
}
#u528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:86px;
}
#u528 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:86px;
  font-size:36px;
  text-align:center;
}
#u529 {
  position:absolute;
  left:2px;
  top:35px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:86px;
}
#u530 {
  position:absolute;
  left:262px;
  top:0px;
  width:242px;
  height:86px;
  font-size:36px;
  text-align:center;
}
#u531 {
  position:absolute;
  left:2px;
  top:35px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:86px;
}
#u532 {
  position:absolute;
  left:504px;
  top:0px;
  width:252px;
  height:86px;
  font-size:36px;
  text-align:center;
}
#u533 {
  position:absolute;
  left:2px;
  top:35px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:86px;
}
#u534 {
  position:absolute;
  left:0px;
  top:86px;
  width:262px;
  height:86px;
  font-size:36px;
  text-align:center;
}
#u535 {
  position:absolute;
  left:2px;
  top:22px;
  width:258px;
  word-wrap:break-word;
}
#u536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:86px;
}
#u536 {
  position:absolute;
  left:262px;
  top:86px;
  width:242px;
  height:86px;
  font-size:36px;
  text-align:center;
}
#u537 {
  position:absolute;
  left:2px;
  top:22px;
  width:238px;
  word-wrap:break-word;
}
#u538_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:86px;
}
#u538 {
  position:absolute;
  left:504px;
  top:86px;
  width:252px;
  height:86px;
  font-size:36px;
  text-align:center;
}
#u539 {
  position:absolute;
  left:2px;
  top:22px;
  width:248px;
  word-wrap:break-word;
}
#u540_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:86px;
}
#u540 {
  position:absolute;
  left:0px;
  top:172px;
  width:262px;
  height:86px;
  font-size:36px;
  text-align:center;
}
#u541 {
  position:absolute;
  left:2px;
  top:22px;
  width:258px;
  word-wrap:break-word;
}
#u542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:86px;
}
#u542 {
  position:absolute;
  left:262px;
  top:172px;
  width:242px;
  height:86px;
  font-size:36px;
  text-align:center;
}
#u543 {
  position:absolute;
  left:2px;
  top:22px;
  width:238px;
  word-wrap:break-word;
}
#u544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:86px;
}
#u544 {
  position:absolute;
  left:504px;
  top:172px;
  width:252px;
  height:86px;
  font-size:36px;
  text-align:center;
}
#u545 {
  position:absolute;
  left:2px;
  top:22px;
  width:248px;
  word-wrap:break-word;
}
#u546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:289px;
}
#u546 {
  position:absolute;
  left:0px;
  top:258px;
  width:262px;
  height:289px;
  font-size:36px;
  text-align:center;
}
#u547 {
  position:absolute;
  left:2px;
  top:136px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u548_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:289px;
}
#u548 {
  position:absolute;
  left:262px;
  top:258px;
  width:242px;
  height:289px;
  font-size:36px;
  text-align:center;
}
#u549 {
  position:absolute;
  left:2px;
  top:136px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:289px;
}
#u550 {
  position:absolute;
  left:504px;
  top:258px;
  width:252px;
  height:289px;
  font-size:36px;
  text-align:center;
}
#u551 {
  position:absolute;
  left:2px;
  top:136px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u552_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u552 {
  position:absolute;
  left:1552px;
  top:898px;
  width:80px;
  height:41px;
  font-size:36px;
}
#u553 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u554_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u554 {
  position:absolute;
  left:1265px;
  top:898px;
  width:131px;
  height:41px;
  font-size:36px;
}
#u555 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:2px;
}
#u556 {
  position:absolute;
  left:276px;
  top:1076px;
  width:404px;
  height:1px;
}
#u557 {
  position:absolute;
  left:2px;
  top:-8px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u558_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u558 {
  position:absolute;
  left:360px;
  top:1046px;
  width:100px;
  height:60px;
}
#u559 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:2px;
}
#u560 {
  position:absolute;
  left:276px;
  top:1311px;
  width:404px;
  height:1px;
}
#u561 {
  position:absolute;
  left:2px;
  top:-8px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u562_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u562 {
  position:absolute;
  left:512px;
  top:1281px;
  width:100px;
  height:60px;
}
#u563 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u564_div {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u564 {
  position:absolute;
  left:276px;
  top:661px;
  width:614px;
  height:90px;
}
#u565 {
  position:absolute;
  left:2px;
  top:37px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u566_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u566 {
  position:absolute;
  left:325px;
  top:691px;
  width:168px;
  height:29px;
  font-size:36px;
  color:#999999;
}
#u567 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u568_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u568 {
  position:absolute;
  left:998px;
  top:898px;
  width:168px;
  height:41px;
  font-size:36px;
}
#u569 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u570 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u571_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u571 {
  position:absolute;
  left:1841px;
  top:982px;
  width:50px;
  height:50px;
}
#u572 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u573_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u573 {
  position:absolute;
  left:1778px;
  top:977px;
  width:55px;
  height:55px;
}
#u574 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u575_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:13px;
}
#u575 {
  position:absolute;
  left:1778px;
  top:1024px;
  width:100px;
  height:13px;
}
#u576 {
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u577 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u578_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u578 {
  position:absolute;
  left:1840px;
  top:1083px;
  width:50px;
  height:50px;
}
#u579 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u580_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u580 {
  position:absolute;
  left:1778px;
  top:1078px;
  width:55px;
  height:55px;
}
#u581 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u582_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:13px;
}
#u582 {
  position:absolute;
  left:1778px;
  top:1125px;
  width:100px;
  height:13px;
}
#u583 {
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u585_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u585 {
  position:absolute;
  left:266px;
  top:560px;
  width:256px;
  height:55px;
  font-size:48px;
}
#u586 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  white-space:nowrap;
}
#u587_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:2px;
}
#u587 {
  position:absolute;
  left:522px;
  top:587px;
  width:78px;
  height:1px;
}
#u588 {
  position:absolute;
  left:2px;
  top:-8px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u589_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u589 {
  position:absolute;
  left:582px;
  top:580px;
  width:25px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u590 {
  position:absolute;
  left:2px;
  top:0px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
