body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2352px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2362px;
  height:1626px;
}
#u911 {
  position:absolute;
  left:0px;
  top:74px;
  width:2352px;
  height:1616px;
}
#u912 {
  position:absolute;
  left:2px;
  top:800px;
  width:2348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2048px;
  height:1536px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u913 {
  position:absolute;
  left:152px;
  top:114px;
  width:2048px;
  height:1536px;
}
#u914 {
  position:absolute;
  left:2px;
  top:760px;
  width:2044px;
  visibility:hidden;
  word-wrap:break-word;
}
#u915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u915 {
  position:absolute;
  left:17px;
  top:824px;
  width:116px;
  height:116px;
}
#u916 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2050px;
  height:1530px;
  background:inherit;
  background-color:rgba(51, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u917 {
  position:absolute;
  left:151px;
  top:117px;
  width:2050px;
  height:1530px;
}
#u918 {
  position:absolute;
  left:2px;
  top:757px;
  width:2046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1930px;
  height:1091px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u919 {
  position:absolute;
  left:210px;
  top:499px;
  width:1930px;
  height:1091px;
}
#u920 {
  position:absolute;
  left:2px;
  top:538px;
  width:1926px;
  visibility:hidden;
  word-wrap:break-word;
}
#u921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u921 {
  position:absolute;
  left:276px;
  top:560px;
  width:360px;
  height:55px;
  font-size:48px;
}
#u922 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  white-space:nowrap;
}
#u923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
  color:#000000;
}
#u923 {
  position:absolute;
  left:778px;
  top:188px;
  width:797px;
  height:82px;
  font-size:72px;
  color:#000000;
}
#u924 {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  white-space:nowrap;
}
#u925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u925 {
  position:absolute;
  left:230px;
  top:349px;
  width:110px;
  height:110px;
}
#u926 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u927 {
  position:absolute;
  left:276px;
  top:386px;
  width:19px;
  height:37px;
}
#u928 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u929 {
  position:absolute;
  left:615px;
  top:349px;
  width:110px;
  height:110px;
}
#u930 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u931 {
  position:absolute;
  left:661px;
  top:386px;
  width:19px;
  height:37px;
}
#u932 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u933 {
  position:absolute;
  left:1027px;
  top:349px;
  width:110px;
  height:110px;
}
#u934 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u935 {
  position:absolute;
  left:1073px;
  top:386px;
  width:19px;
  height:37px;
}
#u936 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u937 {
  position:absolute;
  left:1416px;
  top:349px;
  width:110px;
  height:110px;
}
#u938 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u939 {
  position:absolute;
  left:1462px;
  top:386px;
  width:19px;
  height:37px;
}
#u940 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u941 {
  position:absolute;
  left:1759px;
  top:349px;
  width:110px;
  height:110px;
}
#u942 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u943 {
  position:absolute;
  left:1805px;
  top:386px;
  width:19px;
  height:37px;
}
#u944 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u945 {
  position:absolute;
  left:2027px;
  top:349px;
  width:110px;
  height:110px;
}
#u946 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u947 {
  position:absolute;
  left:2073px;
  top:386px;
  width:19px;
  height:37px;
}
#u948 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:180px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u949 {
  position:absolute;
  left:1892px;
  top:1410px;
  width:248px;
  height:180px;
  font-size:48px;
}
#u950 {
  position:absolute;
  left:2px;
  top:62px;
  width:244px;
  word-wrap:break-word;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:100px;
}
#u951 {
  position:absolute;
  left:1645px;
  top:867px;
  width:378px;
  height:100px;
}
#u952 {
  position:absolute;
  left:2px;
  top:42px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:78px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u953 {
  position:absolute;
  left:276px;
  top:800px;
  width:244px;
  height:78px;
  font-size:28px;
}
#u954 {
  position:absolute;
  left:2px;
  top:22px;
  width:240px;
  word-wrap:break-word;
}
#u955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1664px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u955 {
  position:absolute;
  left:276px;
  top:660px;
  width:1664px;
  height:33px;
  font-size:28px;
}
#u956 {
  position:absolute;
  left:0px;
  top:0px;
  width:1664px;
  word-wrap:break-word;
}
#u957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u957 {
  position:absolute;
  left:276px;
  top:1024px;
  width:465px;
  height:55px;
  font-size:48px;
}
#u958 {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  white-space:nowrap;
}
#u959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1664px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u959 {
  position:absolute;
  left:276px;
  top:1124px;
  width:1664px;
  height:33px;
  font-size:28px;
}
#u960 {
  position:absolute;
  left:0px;
  top:0px;
  width:1664px;
  word-wrap:break-word;
}
#u961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:78px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u961 {
  position:absolute;
  left:276px;
  top:1229px;
  width:244px;
  height:78px;
  font-size:28px;
}
#u962 {
  position:absolute;
  left:2px;
  top:22px;
  width:240px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2352px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u910.a {
  position:absolute;
  left:0px;
  top:0px;
  width:2352px;
  height:1690px;
}
#u911.a {
}
#u911_img.a {
}
#u912.a {
}
#u913.a {
}
#u913_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:2048px;
  height:1536px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u914.a {
}
#u915.a {
}
#u915_img.a {
}
#u916.a {
}
#u917.a {
}
#u917_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:2050px;
  height:1530px;
  background:inherit;
  background-color:rgba(51, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u918.a {
}
#u919.a {
}
#u919_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1930px;
  height:1091px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u920.a {
}
#u921.a {
}
#u921_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u922.a {
}
#u923.a {
}
#u923_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
  color:#000000;
}
#u924.a {
}
#u925.a {
}
#u925_img.a {
}
#u926.a {
}
#u927.a {
}
#u927_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u928.a {
}
#u929.a {
}
#u929_img.a {
}
#u930.a {
}
#u931.a {
}
#u931_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u932.a {
}
#u933.a {
}
#u933_img.a {
}
#u934.a {
}
#u935.a {
}
#u935_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u936.a {
}
#u937.a {
}
#u937_img.a {
}
#u938.a {
}
#u939.a {
}
#u939_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u940.a {
}
#u941.a {
}
#u941_img.a {
}
#u942.a {
}
#u943.a {
}
#u943_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u944.a {
}
#u945.a {
}
#u945_img.a {
}
#u946.a {
}
#u947.a {
}
#u947_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u948.a {
}
#u949.a {
}
#u949_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:180px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u950.a {
}
#u951.a {
}
#u951_img.a {
}
#u952.a {
}
#u953.a {
}
#u953_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:78px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u954.a {
}
#u955.a {
}
#u955_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1664px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u956.a {
}
#u957.a {
}
#u957_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u958.a {
}
#u959.a {
}
#u959_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1664px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u960.a {
}
#u961.a {
}
#u961_div.a {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:78px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u962.a {
}
