@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);






#ext_menu-0 .navbar-toggler {
  color: #000;
}
#ext_menu-0 .nav-link {
  font-size: 18px;
}
#slider-1 H2 {
  color: #f2f2f2;
  text-align: right;
  font-size: 36px;
  font-family: 'Raleway', sans-serif;
}
#slider-1 P {
  text-align: right;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}
#slider-1 DIV {
  text-align: right;
}
#header3-6 H3 {
  font-family: 'Lato', sans-serif;
}
#header3-6 SMALL {
  font-family: 'Lato', sans-serif;
}
#content1-7 P {
  font-family: 'Raleway', sans-serif;
}
#image2-8 DIV {
  color: #ffffff;
}
#content1-9 P {
  font-family: 'Raleway', sans-serif;
}
