/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .mainmenu-area #primary-menu > ul > li > a {
        padding: 30px 12px;
    }
    .header-area {
        padding-top: 80px;
    }
    .price-table,
    .box {
        padding: 30px 15px;
    }
    .price-table.active {
        padding: 50px 15px;
    }
    .single-team {
        margin-bottom: 30px
    }
    .side-icon-boxes {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    body {
        font-size: 13px;
    }
    .header-area {
        padding-top: 120px;
        padding-bottom: 100px;
        height: auto;
    }
    .page-title h2,
    .header-text h2 {
        font-size: 20px;
    }
    .mainmenu-area .navbar-toggle {
        margin-top: 20px;
    }
    .mainmenu-area .navbar-toggle .icon-bar {
        background-color: #ffffff;
    }
    .mainmenu-area #primary-menu {
        background-color: #272E59;
    }
    .mainmenu-area #primary-menu ul {
        overflow-y: auto;
        max-height: 70vh;
        margin: 0;
    }
    .mainmenu-area #primary-menu > ul > li > a {
        padding: 15px;
        overflow: hidden;
    }
    .box {
        padding: 30px 15px;
    }
    .box .box-icon {
        height: auto;
    }
    .single-blog,
    .single-team,
    .price-table.active {
        margin-top: 30px;
    }
    .form-double input {
        width: 100%;
    }
    .footer-top {
        margin-bottom: 50px;
    }
    .x-left {
        text-align: left;
    }
    .mainmenu-area .logo {
        margin-left: 15px;
    }
    
    #titletag
    {
        font-size: 30px;
        padding-bottom: 15%;
    }
    
    #dotitle
    {
        font-size:30px;
    }
    
    .dt
    {
        font-size: 30px;
    }
    
    #ctitle
    {
        font-size: 20px;            
        
    }
    
    #taoofsix
    {
        font-size: 20px;
    
    }
    
    #dw
    {
        padding-bottom: 2%;
        padding-left: 5%;
    }

    #dwcopy
    {
        font-size: 15px;
        
    }
    
    #dwicon
    {
        
        padding-bottom: 2%;
        padding-left: 2%;
    
    }
    
    #solutionst
    {
        font-size: 40px;
        
    }
    
    #cm
    {
        font-size: 25px;
    }
    
    #VCtitle
    {
        font-size: 23px;
    }
    
    #copyprocess
{
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: left;
    font-size: 1.15em;
    padding-right: 5px;
    padding-left: 5px;
    
}

    #workedw
{
    font-size: 30px;
    color: #272E59;
    
}
    
    
.single-blog .blog-content {
    padding: 15px 15px;
    background-color: #ffffff
}
    
.blog-content > p
    {
        font-size: 16px;
    }
    

#logo-row
{
    padding-top: 2%;
    padding-bottom; 2%;
    padding-right: 5%;
    padding-left: 5%;
    
}    

#dwicon > div > img

{
    max-width: 60px;
    padding-left: 7%;
    }
    
#healtht
    
    {
        font-size: 17px;
        margin-left: 5%;
    }
    
    
    
    
}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {}