body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2242px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u596_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u596 {
  position:absolute;
  left:322px;
  top:362px;
  width:1920px;
  height:47px;
}
#u597 {
  position:absolute;
  left:2px;
  top:16px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u598_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1163px;
}
#u598 {
  position:absolute;
  left:322px;
  top:409px;
  width:1920px;
  height:1163px;
}
#u599 {
  position:absolute;
  left:2px;
  top:574px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u600_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:874px;
}
#u600 {
  position:absolute;
  left:322px;
  top:1242px;
  width:1920px;
  height:874px;
}
#u601 {
  position:absolute;
  left:2px;
  top:429px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u602_img {
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:250px;
}
#u602 {
  position:absolute;
  left:995px;
  top:1116px;
  width:642px;
  height:250px;
  opacity:0.7;
}
#u603 {
  position:absolute;
  left:2px;
  top:117px;
  width:638px;
  visibility:hidden;
  word-wrap:break-word;
}
#u604_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro- ☞', 'AmsiPro-Regular ☞';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u604 {
  position:absolute;
  left:394px;
  top:362px;
  width:138px;
  height:47px;
  font-family:'AmsiPro- ☞', 'AmsiPro-Regular ☞';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u605 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u606_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro- ☞', 'AmsiPro-Regular ☞';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u606 {
  position:absolute;
  left:599px;
  top:362px;
  width:167px;
  height:47px;
  font-family:'AmsiPro- ☞', 'AmsiPro-Regular ☞';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u607 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro- ☞', 'AmsiPro-Regular ☞';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u608 {
  position:absolute;
  left:1059px;
  top:362px;
  width:171px;
  height:47px;
  font-family:'AmsiPro- ☞', 'AmsiPro-Regular ☞';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u609 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u610_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro- ☞', 'AmsiPro-Regular ☞';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u610 {
  position:absolute;
  left:1304px;
  top:362px;
  width:142px;
  height:47px;
  font-family:'AmsiPro- ☞', 'AmsiPro-Regular ☞';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u611 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u612_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro- ☞', 'AmsiPro-Regular ☞';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u612 {
  position:absolute;
  left:1519px;
  top:362px;
  width:132px;
  height:47px;
  font-family:'AmsiPro- ☞', 'AmsiPro-Regular ☞';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u613 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u614_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro- ☞', 'AmsiPro-Regular ☞';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u614 {
  position:absolute;
  left:1727px;
  top:362px;
  width:87px;
  height:47px;
  font-family:'AmsiPro- ☞', 'AmsiPro-Regular ☞';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u615 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro- ☞', 'AmsiPro-Regular ☞';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u616 {
  position:absolute;
  left:834px;
  top:362px;
  width:150px;
  height:47px;
  font-family:'AmsiPro- ☞', 'AmsiPro-Regular ☞';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u617 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:190px;
}
#u618 {
  position:absolute;
  left:1994px;
  top:292px;
  width:190px;
  height:190px;
}
#u619 {
  position:absolute;
  left:2px;
  top:87px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:162px;
}
#u620 {
  position:absolute;
  left:1978px;
  top:327px;
  width:228px;
  height:162px;
}
#u621 {
  position:absolute;
  left:2px;
  top:73px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:48px;
}
#u622 {
  position:absolute;
  left:562px;
  top:362px;
  width:1px;
  height:47px;
}
#u623 {
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:48px;
}
#u624 {
  position:absolute;
  left:795px;
  top:362px;
  width:1px;
  height:47px;
}
#u625 {
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:48px;
}
#u626 {
  position:absolute;
  left:1016px;
  top:362px;
  width:1px;
  height:47px;
}
#u627 {
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:48px;
}
#u628 {
  position:absolute;
  left:1264px;
  top:362px;
  width:1px;
  height:47px;
}
#u629 {
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:48px;
}
#u630 {
  position:absolute;
  left:1481px;
  top:362px;
  width:1px;
  height:47px;
}
#u631 {
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:48px;
}
#u632 {
  position:absolute;
  left:1694px;
  top:362px;
  width:1px;
  height:47px;
}
#u633 {
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro ☞ Bold', 'AmsiPro ☞';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u634 {
  position:absolute;
  left:1033px;
  top:1145px;
  width:489px;
  height:96px;
  font-family:'AmsiPro ☞ Bold', 'AmsiPro ☞';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u635 {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  white-space:nowrap;
}
#u636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro ☞ Bold', 'AmsiPro ☞';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u636 {
  position:absolute;
  left:1033px;
  top:1242px;
  width:556px;
  height:96px;
  font-family:'AmsiPro ☞ Bold', 'AmsiPro ☞';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u637 {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  white-space:nowrap;
}
#u638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:48px;
}
#u638 {
  position:absolute;
  left:1846px;
  top:362px;
  width:1px;
  height:47px;
}
#u639 {
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u640 {
  position:absolute;
  left:1916px;
  top:369px;
  width:34px;
  height:34px;
}
#u641 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:76px;
}
#u642 {
  position:absolute;
  left:995px;
  top:1040px;
  width:152px;
  height:76px;
}
#u643 {
  position:absolute;
  left:2px;
  top:30px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiProNarw- ☞ Condensed', 'AmsiProNarw-Regular ☞';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u644 {
  position:absolute;
  left:986px;
  top:1051px;
  width:170px;
  height:45px;
  font-family:'AmsiProNarw- ☞ Condensed', 'AmsiProNarw-Regular ☞';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u645 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:2px;
}
#u646 {
  position:absolute;
  left:1080px;
  top:1048px;
  width:21px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u647 {
  position:absolute;
  left:2px;
  top:-8px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:2px;
}
#u648 {
  position:absolute;
  left:1022px;
  top:1105px;
  width:26px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u649 {
  position:absolute;
  left:2px;
  top:-8px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:875px;
}
#u650 {
  position:absolute;
  left:995px;
  top:1242px;
  width:1px;
  height:874px;
}
#u651 {
  position:absolute;
  left:2px;
  top:429px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:2px;
}
#u652 {
  position:absolute;
  left:599px;
  top:1365px;
  width:396px;
  height:1px;
}
#u653 {
  position:absolute;
  left:2px;
  top:-8px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:28px;
}
#u654 {
  position:absolute;
  left:546px;
  top:1363px;
  width:16px;
  height:28px;
}
#u655 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:2px;
}
#u656 {
  position:absolute;
  left:599px;
  top:1371px;
  width:396px;
  height:1px;
}
#u657 {
  position:absolute;
  left:2px;
  top:-8px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:2px;
}
#u658 {
  position:absolute;
  left:599px;
  top:1376px;
  width:396px;
  height:1px;
}
#u659 {
  position:absolute;
  left:2px;
  top:-8px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:2px;
}
#u660 {
  position:absolute;
  left:599px;
  top:1382px;
  width:396px;
  height:1px;
}
#u661 {
  position:absolute;
  left:2px;
  top:-8px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u662 {
  position:absolute;
  left:519px;
  top:1342px;
  width:70px;
  height:70px;
}
#u663 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro ☞ Bold', 'AmsiPro ☞';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#666666;
}
#u664 {
  position:absolute;
  left:834px;
  top:1317px;
  width:109px;
  height:38px;
  font-family:'AmsiPro ☞ Bold', 'AmsiPro ☞';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#666666;
}
#u665 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:938px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro ☞ Light', 'AmsiPro ☞';
  font-weight:300;
  font-style:normal;
  font-size:19px;
}
#u666 {
  position:absolute;
  left:1134px;
  top:1408px;
  width:938px;
  height:97px;
  font-family:'AmsiPro ☞ Light', 'AmsiPro ☞';
  font-weight:300;
  font-style:normal;
  font-size:19px;
}
#u667 {
  position:absolute;
  left:0px;
  top:0px;
  width:938px;
  word-wrap:break-word;
}
#u668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro ☞ Bold', 'AmsiPro ☞';
  font-weight:700;
  font-style:normal;
  font-size:99px;
}
#u668 {
  position:absolute;
  left:1060px;
  top:1372px;
  width:57px;
  height:132px;
  font-family:'AmsiPro ☞ Bold', 'AmsiPro ☞';
  font-weight:700;
  font-style:normal;
  font-size:99px;
}
#u669 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:121px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro ☞ Light', 'AmsiPro ☞';
  font-weight:300;
  font-style:normal;
  font-size:19px;
}
#u670 {
  position:absolute;
  left:1060px;
  top:1504px;
  width:991px;
  height:121px;
  font-family:'AmsiPro ☞ Light', 'AmsiPro ☞';
  font-weight:300;
  font-style:normal;
  font-size:19px;
}
#u671 {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  word-wrap:break-word;
}
#u672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:403px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:40px;
}
#u672 {
  position:absolute;
  left:1754px;
  top:838px;
  width:355px;
  height:403px;
  opacity:0.7;
  font-size:40px;
}
#u673 {
  position:absolute;
  left:2px;
  top:194px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:290px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro ☞ SemiBold', 'AmsiPro ☞';
  font-weight:600;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u674 {
  position:absolute;
  left:1786px;
  top:894px;
  width:291px;
  height:290px;
  font-family:'AmsiPro ☞ SemiBold', 'AmsiPro ☞';
  font-weight:600;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u675 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  word-wrap:break-word;
}
#u676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro ☞ Light', 'AmsiPro ☞';
  font-weight:300;
  font-style:normal;
  font-size:19px;
}
#u676 {
  position:absolute;
  left:1060px;
  top:1612px;
  width:991px;
  height:81px;
  font-family:'AmsiPro ☞ Light', 'AmsiPro ☞';
  font-weight:300;
  font-style:normal;
  font-size:19px;
}
#u677 {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  word-wrap:break-word;
}
#u678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:187px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro ☞ Light', 'AmsiPro ☞';
  font-weight:300;
  font-style:normal;
  font-size:19px;
}
#u678 {
  position:absolute;
  left:1060px;
  top:1703px;
  width:991px;
  height:187px;
  font-family:'AmsiPro ☞ Light', 'AmsiPro ☞';
  font-weight:300;
  font-style:normal;
  font-size:19px;
}
#u679 {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  word-wrap:break-word;
}
#u680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro ☞ Light', 'AmsiPro ☞';
  font-weight:300;
  font-style:normal;
  font-size:19px;
}
#u680 {
  position:absolute;
  left:1060px;
  top:1900px;
  width:991px;
  height:34px;
  font-family:'AmsiPro ☞ Light', 'AmsiPro ☞';
  font-weight:300;
  font-style:normal;
  font-size:19px;
}
#u681 {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  word-wrap:break-word;
}
#u682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro ☞ Light', 'AmsiPro ☞';
  font-weight:300;
  font-style:normal;
  font-size:19px;
}
#u682 {
  position:absolute;
  left:1060px;
  top:1941px;
  width:991px;
  height:128px;
  font-family:'AmsiPro ☞ Light', 'AmsiPro ☞';
  font-weight:300;
  font-style:normal;
  font-size:19px;
}
#u683 {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  word-wrap:break-word;
}
#u684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro ☞ Bold', 'AmsiPro ☞';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FF0033;
}
#u684 {
  position:absolute;
  left:643px;
  top:1393px;
  width:273px;
  height:47px;
  font-family:'AmsiPro ☞ Bold', 'AmsiPro ☞';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FF0033;
}
#u685 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  white-space:nowrap;
}
#u686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u686 {
  position:absolute;
  left:796px;
  top:1474px;
  width:30px;
  height:30px;
}
#u687 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u688 {
  position:absolute;
  left:733px;
  top:1474px;
  width:30px;
  height:30px;
}
#u689 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:398px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u690 {
  position:absolute;
  left:322px;
  top:1718px;
  width:1920px;
  height:398px;
}
#u691 {
  position:absolute;
  left:2px;
  top:191px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 0, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFF33;
}
#u692 {
  position:absolute;
  left:985px;
  top:1944px;
  width:595px;
  height:110px;
  color:#FFFF33;
}
#u693 {
  position:absolute;
  left:2px;
  top:47px;
  width:591px;
  visibility:hidden;
  word-wrap:break-word;
}
#u694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiProNarw-XLight ☞ SemiCondensed Bold', 'AmsiProNarw-XLight ☞ SemiCondensed', 'AmsiProNarw-XLight ☞';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u694 {
  position:absolute;
  left:1138px;
  top:1934px;
  width:279px;
  height:110px;
  font-family:'AmsiProNarw-XLight ☞ SemiCondensed Bold', 'AmsiProNarw-XLight ☞ SemiCondensed', 'AmsiProNarw-XLight ☞';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u695 {
  position:absolute;
  left:0px;
  top:24px;
  width:279px;
  white-space:nowrap;
}
#u696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro ☞ Bold', 'AmsiPro ☞';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u696 {
  position:absolute;
  left:966px;
  top:1794px;
  width:633px;
  height:96px;
  font-family:'AmsiPro ☞ Bold', 'AmsiPro ☞';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u697 {
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  white-space:nowrap;
}
