body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2244px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u895 {
  position:absolute;
  left:322px;
  top:337px;
  width:1920px;
  height:72px;
}
#u896 {
  position:absolute;
  left:2px;
  top:28px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u897 {
  position:absolute;
  left:322px;
  top:172px;
  width:1920px;
  height:47px;
}
#u898 {
  position:absolute;
  left:2px;
  top:16px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1163px;
}
#u899 {
  position:absolute;
  left:322px;
  top:409px;
  width:1920px;
  height:1163px;
}
#u900 {
  position:absolute;
  left:2px;
  top:574px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:874px;
}
#u901 {
  position:absolute;
  left:322px;
  top:1242px;
  width:1920px;
  height:874px;
}
#u902 {
  position:absolute;
  left:2px;
  top:429px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:250px;
}
#u903 {
  position:absolute;
  left:995px;
  top:1116px;
  width:642px;
  height:250px;
  opacity:0.7;
}
#u904 {
  position:absolute;
  left:2px;
  top:117px;
  width:638px;
  visibility:hidden;
  word-wrap:break-word;
}
#u905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro- ☞', 'AmsiPro-Regular ☞';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u905 {
  position:absolute;
  left:394px;
  top:172px;
  width:138px;
  height:47px;
  font-family:'AmsiPro- ☞', 'AmsiPro-Regular ☞';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u906 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro- ☞', 'AmsiPro-Regular ☞';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u907 {
  position:absolute;
  left:599px;
  top:172px;
  width:167px;
  height:47px;
  font-family:'AmsiPro- ☞', 'AmsiPro-Regular ☞';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u908 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro- ☞', 'AmsiPro-Regular ☞';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u909 {
  position:absolute;
  left:1059px;
  top:172px;
  width:171px;
  height:47px;
  font-family:'AmsiPro- ☞', 'AmsiPro-Regular ☞';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u910 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro- ☞', 'AmsiPro-Regular ☞';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u911 {
  position:absolute;
  left:1304px;
  top:172px;
  width:142px;
  height:47px;
  font-family:'AmsiPro- ☞', 'AmsiPro-Regular ☞';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u912 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro- ☞', 'AmsiPro-Regular ☞';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u913 {
  position:absolute;
  left:1519px;
  top:172px;
  width:132px;
  height:47px;
  font-family:'AmsiPro- ☞', 'AmsiPro-Regular ☞';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u914 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro- ☞', 'AmsiPro-Regular ☞';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u915 {
  position:absolute;
  left:1727px;
  top:172px;
  width:87px;
  height:47px;
  font-family:'AmsiPro- ☞', 'AmsiPro-Regular ☞';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u916 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro- ☞', 'AmsiPro-Regular ☞';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u917 {
  position:absolute;
  left:834px;
  top:172px;
  width:150px;
  height:47px;
  font-family:'AmsiPro- ☞', 'AmsiPro-Regular ☞';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u918 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:190px;
}
#u919 {
  position:absolute;
  left:1994px;
  top:292px;
  width:190px;
  height:190px;
}
#u920 {
  position:absolute;
  left:2px;
  top:87px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:162px;
}
#u921 {
  position:absolute;
  left:1978px;
  top:327px;
  width:228px;
  height:162px;
}
#u922 {
  position:absolute;
  left:2px;
  top:73px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:48px;
}
#u923 {
  position:absolute;
  left:562px;
  top:172px;
  width:1px;
  height:47px;
}
#u924 {
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:48px;
}
#u925 {
  position:absolute;
  left:795px;
  top:172px;
  width:1px;
  height:47px;
}
#u926 {
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:48px;
}
#u927 {
  position:absolute;
  left:1016px;
  top:172px;
  width:1px;
  height:47px;
}
#u928 {
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:48px;
}
#u929 {
  position:absolute;
  left:1264px;
  top:172px;
  width:1px;
  height:47px;
}
#u930 {
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:48px;
}
#u931 {
  position:absolute;
  left:1481px;
  top:172px;
  width:1px;
  height:47px;
}
#u932 {
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:48px;
}
#u933 {
  position:absolute;
  left:1694px;
  top:172px;
  width:1px;
  height:47px;
}
#u934 {
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro ☞ Bold', 'AmsiPro ☞';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u935 {
  position:absolute;
  left:1033px;
  top:1145px;
  width:489px;
  height:96px;
  font-family:'AmsiPro ☞ Bold', 'AmsiPro ☞';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u936 {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  white-space:nowrap;
}
#u937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro ☞ Bold', 'AmsiPro ☞';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u937 {
  position:absolute;
  left:1033px;
  top:1242px;
  width:556px;
  height:96px;
  font-family:'AmsiPro ☞ Bold', 'AmsiPro ☞';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u938 {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  white-space:nowrap;
}
#u939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:48px;
}
#u939 {
  position:absolute;
  left:1846px;
  top:172px;
  width:1px;
  height:47px;
}
#u940 {
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u941 {
  position:absolute;
  left:1916px;
  top:179px;
  width:34px;
  height:34px;
}
#u942 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:76px;
}
#u943 {
  position:absolute;
  left:995px;
  top:1040px;
  width:152px;
  height:76px;
}
#u944 {
  position:absolute;
  left:2px;
  top:30px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiProNarw- ☞ Condensed', 'AmsiProNarw-Regular ☞';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u945 {
  position:absolute;
  left:986px;
  top:1051px;
  width:170px;
  height:45px;
  font-family:'AmsiProNarw- ☞ Condensed', 'AmsiProNarw-Regular ☞';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u946 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:2px;
}
#u947 {
  position:absolute;
  left:1080px;
  top:1048px;
  width:21px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u948 {
  position:absolute;
  left:2px;
  top:-8px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:2px;
}
#u949 {
  position:absolute;
  left:1022px;
  top:1105px;
  width:26px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u950 {
  position:absolute;
  left:2px;
  top:-8px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:875px;
}
#u951 {
  position:absolute;
  left:995px;
  top:1242px;
  width:1px;
  height:874px;
}
#u952 {
  position:absolute;
  left:2px;
  top:429px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:2px;
}
#u953 {
  position:absolute;
  left:599px;
  top:1365px;
  width:396px;
  height:1px;
}
#u954 {
  position:absolute;
  left:2px;
  top:-8px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:28px;
}
#u955 {
  position:absolute;
  left:546px;
  top:1363px;
  width:16px;
  height:28px;
}
#u956 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:2px;
}
#u957 {
  position:absolute;
  left:599px;
  top:1371px;
  width:396px;
  height:1px;
}
#u958 {
  position:absolute;
  left:2px;
  top:-8px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:2px;
}
#u959 {
  position:absolute;
  left:599px;
  top:1376px;
  width:396px;
  height:1px;
}
#u960 {
  position:absolute;
  left:2px;
  top:-8px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:2px;
}
#u961 {
  position:absolute;
  left:599px;
  top:1382px;
  width:396px;
  height:1px;
}
#u962 {
  position:absolute;
  left:2px;
  top:-8px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u963 {
  position:absolute;
  left:519px;
  top:1342px;
  width:70px;
  height:70px;
}
#u964 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro ☞ Bold', 'AmsiPro ☞';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#666666;
}
#u965 {
  position:absolute;
  left:834px;
  top:1317px;
  width:109px;
  height:38px;
  font-family:'AmsiPro ☞ Bold', 'AmsiPro ☞';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#666666;
}
#u966 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:938px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro ☞ Light', 'AmsiPro ☞';
  font-weight:300;
  font-style:normal;
  font-size:19px;
}
#u967 {
  position:absolute;
  left:1134px;
  top:1408px;
  width:938px;
  height:97px;
  font-family:'AmsiPro ☞ Light', 'AmsiPro ☞';
  font-weight:300;
  font-style:normal;
  font-size:19px;
}
#u968 {
  position:absolute;
  left:0px;
  top:0px;
  width:938px;
  word-wrap:break-word;
}
#u969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro ☞ Bold', 'AmsiPro ☞';
  font-weight:700;
  font-style:normal;
  font-size:99px;
}
#u969 {
  position:absolute;
  left:1060px;
  top:1372px;
  width:57px;
  height:132px;
  font-family:'AmsiPro ☞ Bold', 'AmsiPro ☞';
  font-weight:700;
  font-style:normal;
  font-size:99px;
}
#u970 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:121px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro ☞ Light', 'AmsiPro ☞';
  font-weight:300;
  font-style:normal;
  font-size:19px;
}
#u971 {
  position:absolute;
  left:1060px;
  top:1504px;
  width:991px;
  height:121px;
  font-family:'AmsiPro ☞ Light', 'AmsiPro ☞';
  font-weight:300;
  font-style:normal;
  font-size:19px;
}
#u972 {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  word-wrap:break-word;
}
#u973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:403px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:40px;
}
#u973 {
  position:absolute;
  left:1754px;
  top:838px;
  width:355px;
  height:403px;
  opacity:0.7;
  font-size:40px;
}
#u974 {
  position:absolute;
  left:2px;
  top:194px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:290px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro ☞ SemiBold', 'AmsiPro ☞';
  font-weight:600;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u975 {
  position:absolute;
  left:1786px;
  top:894px;
  width:291px;
  height:290px;
  font-family:'AmsiPro ☞ SemiBold', 'AmsiPro ☞';
  font-weight:600;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u976 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  word-wrap:break-word;
}
#u977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro ☞ Light', 'AmsiPro ☞';
  font-weight:300;
  font-style:normal;
  font-size:19px;
}
#u977 {
  position:absolute;
  left:1060px;
  top:1612px;
  width:991px;
  height:81px;
  font-family:'AmsiPro ☞ Light', 'AmsiPro ☞';
  font-weight:300;
  font-style:normal;
  font-size:19px;
}
#u978 {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  word-wrap:break-word;
}
#u979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:187px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro ☞ Light', 'AmsiPro ☞';
  font-weight:300;
  font-style:normal;
  font-size:19px;
}
#u979 {
  position:absolute;
  left:1060px;
  top:1703px;
  width:991px;
  height:187px;
  font-family:'AmsiPro ☞ Light', 'AmsiPro ☞';
  font-weight:300;
  font-style:normal;
  font-size:19px;
}
#u980 {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  word-wrap:break-word;
}
#u981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro ☞ Light', 'AmsiPro ☞';
  font-weight:300;
  font-style:normal;
  font-size:19px;
}
#u981 {
  position:absolute;
  left:1060px;
  top:1900px;
  width:991px;
  height:34px;
  font-family:'AmsiPro ☞ Light', 'AmsiPro ☞';
  font-weight:300;
  font-style:normal;
  font-size:19px;
}
#u982 {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  word-wrap:break-word;
}
#u983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro ☞ Light', 'AmsiPro ☞';
  font-weight:300;
  font-style:normal;
  font-size:19px;
}
#u983 {
  position:absolute;
  left:1060px;
  top:1941px;
  width:991px;
  height:128px;
  font-family:'AmsiPro ☞ Light', 'AmsiPro ☞';
  font-weight:300;
  font-style:normal;
  font-size:19px;
}
#u984 {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  word-wrap:break-word;
}
#u985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro ☞ Bold', 'AmsiPro ☞';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FF0033;
}
#u985 {
  position:absolute;
  left:643px;
  top:1393px;
  width:273px;
  height:47px;
  font-family:'AmsiPro ☞ Bold', 'AmsiPro ☞';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FF0033;
}
#u986 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  white-space:nowrap;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u987 {
  position:absolute;
  left:796px;
  top:1474px;
  width:30px;
  height:30px;
}
#u988 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u989 {
  position:absolute;
  left:733px;
  top:1474px;
  width:30px;
  height:30px;
}
#u990 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:398px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u991 {
  position:absolute;
  left:322px;
  top:1718px;
  width:1920px;
  height:398px;
}
#u992 {
  position:absolute;
  left:2px;
  top:191px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 0, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFF33;
}
#u993 {
  position:absolute;
  left:985px;
  top:1944px;
  width:595px;
  height:110px;
  color:#FFFF33;
}
#u994 {
  position:absolute;
  left:2px;
  top:47px;
  width:591px;
  visibility:hidden;
  word-wrap:break-word;
}
#u995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiProNarw-XLight ☞ SemiCondensed Bold', 'AmsiProNarw-XLight ☞ SemiCondensed', 'AmsiProNarw-XLight ☞';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u995 {
  position:absolute;
  left:1138px;
  top:1934px;
  width:279px;
  height:110px;
  font-family:'AmsiProNarw-XLight ☞ SemiCondensed Bold', 'AmsiProNarw-XLight ☞ SemiCondensed', 'AmsiProNarw-XLight ☞';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:center;
}
#u996 {
  position:absolute;
  left:0px;
  top:24px;
  width:277px;
  white-space:nowrap;
}
#u997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AmsiPro ☞ Bold', 'AmsiPro ☞';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u997 {
  position:absolute;
  left:966px;
  top:1794px;
  width:633px;
  height:96px;
  font-family:'AmsiPro ☞ Bold', 'AmsiPro ☞';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u998 {
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  white-space:nowrap;
}
#u1000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1922px;
  height:286px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1000 {
  position:absolute;
  left:322px;
  top:2115px;
  width:1922px;
  height:286px;
}
#u1001 {
  position:absolute;
  left:2px;
  top:135px;
  width:1918px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u1002 {
  position:absolute;
  left:635px;
  top:2203px;
  width:24px;
  height:25px;
}
#u1003 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1004 {
  position:absolute;
  left:800px;
  top:2160px;
  width:132px;
  height:28px;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1005 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u1006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1006 {
  position:absolute;
  left:800px;
  top:2203px;
  width:141px;
  height:28px;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1007 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u1008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1008 {
  position:absolute;
  left:800px;
  top:2247px;
  width:115px;
  height:28px;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1009 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u1010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1010 {
  position:absolute;
  left:800px;
  top:2290px;
  width:115px;
  height:28px;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1011 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u1012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1012 {
  position:absolute;
  left:982px;
  top:2160px;
  width:115px;
  height:28px;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1013 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u1014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1014 {
  position:absolute;
  left:982px;
  top:2203px;
  width:115px;
  height:28px;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1015 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u1016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1016 {
  position:absolute;
  left:982px;
  top:2247px;
  width:129px;
  height:28px;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1017 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u1018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1018 {
  position:absolute;
  left:982px;
  top:2290px;
  width:115px;
  height:28px;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1019 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u1020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:214px;
}
#u1020 {
  position:absolute;
  left:394px;
  top:2110px;
  width:304px;
  height:214px;
  opacity:0.4;
}
#u1021 {
  position:absolute;
  left:2px;
  top:99px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1022 {
  position:absolute;
  left:1131px;
  top:2290px;
  width:115px;
  height:28px;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1023 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u1024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1024 {
  position:absolute;
  left:1131px;
  top:2247px;
  width:115px;
  height:28px;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1025 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u1026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1026 {
  position:absolute;
  left:1131px;
  top:2203px;
  width:115px;
  height:28px;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1027 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u1028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1028 {
  position:absolute;
  left:1131px;
  top:2160px;
  width:115px;
  height:28px;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1029 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u1030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1030 {
  position:absolute;
  left:1714px;
  top:2160px;
  width:251px;
  height:28px;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1031 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u1032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:38px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1032 {
  position:absolute;
  left:1714px;
  top:2203px;
  width:372px;
  height:38px;
}
#u1033 {
  position:absolute;
  left:2px;
  top:11px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1034 {
  position:absolute;
  left:1717px;
  top:2271px;
  width:239px;
  height:28px;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1035 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u1036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1036 {
  position:absolute;
  left:1303px;
  top:2160px;
  width:251px;
  height:28px;
  font-family:'Lato Bold', 'Lato Regular', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1037 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  word-wrap:break-word;
}
#u1038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u1038 {
  position:absolute;
  left:1305px;
  top:2203px;
  width:8px;
  height:16px;
}
#u1039 {
  position:absolute;
  left:2px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u1040 {
  position:absolute;
  left:1327px;
  top:2203px;
  width:19px;
  height:16px;
}
#u1041 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u1042 {
  position:absolute;
  left:1360px;
  top:2203px;
  width:17px;
  height:16px;
}
#u1043 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:38px;
}
#u1044 {
  position:absolute;
  left:2096px;
  top:2203px;
  width:100px;
  height:38px;
  color:#FFFFFF;
}
#u1045 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1046 {
  position:absolute;
  left:1679px;
  top:343px;
  width:289px;
  height:60px;
}
#u1047 {
  position:absolute;
  left:2px;
  top:22px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u1048 {
  position:absolute;
  left:1920px;
  top:356px;
  width:34px;
  height:34px;
}
#u1049 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1051 {
  position:absolute;
  left:322px;
  top:337px;
  width:1281px;
  height:72px;
}
#u1051_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:1287px;
  height:78px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1052 {
  position:absolute;
  left:0px;
  top:0px;
  width:1286px;
  height:77px;
}
#u1053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:72px;
}
#u1053 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:72px;
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1054 {
  position:absolute;
  left:15px;
  top:19px;
  width:320px;
  word-wrap:break-word;
}
#u1055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:72px;
}
#u1055 {
  position:absolute;
  left:337px;
  top:0px;
  width:409px;
  height:72px;
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1056 {
  position:absolute;
  left:15px;
  top:19px;
  width:392px;
  word-wrap:break-word;
}
#u1057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:72px;
}
#u1057 {
  position:absolute;
  left:746px;
  top:0px;
  width:273px;
  height:72px;
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1058 {
  position:absolute;
  left:15px;
  top:19px;
  width:256px;
  word-wrap:break-word;
}
#u1059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:72px;
}
#u1059 {
  position:absolute;
  left:1019px;
  top:0px;
  width:262px;
  height:72px;
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1060 {
  position:absolute;
  left:15px;
  top:19px;
  width:245px;
  word-wrap:break-word;
}
#u1061 {
  position:absolute;
  left:337px;
  top:72px;
  width:327px;
  height:925px;
  visibility:hidden;
}
#u1061_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:333px;
  height:931px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1062 {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:930px;
}
#u1063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:61px;
}
#u1063 {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:61px;
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1064 {
  position:absolute;
  left:5px;
  top:14px;
  width:320px;
  word-wrap:break-word;
}
#u1065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:72px;
}
#u1065 {
  position:absolute;
  left:0px;
  top:61px;
  width:327px;
  height:72px;
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1066 {
  position:absolute;
  left:5px;
  top:19px;
  width:320px;
  word-wrap:break-word;
}
#u1067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:72px;
}
#u1067 {
  position:absolute;
  left:0px;
  top:133px;
  width:327px;
  height:72px;
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1068 {
  position:absolute;
  left:5px;
  top:19px;
  width:320px;
  word-wrap:break-word;
}
#u1069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:72px;
}
#u1069 {
  position:absolute;
  left:0px;
  top:205px;
  width:327px;
  height:72px;
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1070 {
  position:absolute;
  left:5px;
  top:19px;
  width:320px;
  word-wrap:break-word;
}
#u1071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:72px;
}
#u1071 {
  position:absolute;
  left:0px;
  top:277px;
  width:327px;
  height:72px;
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1072 {
  position:absolute;
  left:5px;
  top:19px;
  width:320px;
  word-wrap:break-word;
}
#u1073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:72px;
}
#u1073 {
  position:absolute;
  left:0px;
  top:349px;
  width:327px;
  height:72px;
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1074 {
  position:absolute;
  left:5px;
  top:19px;
  width:320px;
  word-wrap:break-word;
}
#u1075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:72px;
}
#u1075 {
  position:absolute;
  left:0px;
  top:421px;
  width:327px;
  height:72px;
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1076 {
  position:absolute;
  left:5px;
  top:19px;
  width:320px;
  word-wrap:break-word;
}
#u1077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:72px;
}
#u1077 {
  position:absolute;
  left:0px;
  top:493px;
  width:327px;
  height:72px;
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1078 {
  position:absolute;
  left:5px;
  top:19px;
  width:320px;
  word-wrap:break-word;
}
#u1079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:72px;
}
#u1079 {
  position:absolute;
  left:0px;
  top:565px;
  width:327px;
  height:72px;
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1080 {
  position:absolute;
  left:5px;
  top:19px;
  width:320px;
  word-wrap:break-word;
}
#u1081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:72px;
}
#u1081 {
  position:absolute;
  left:0px;
  top:637px;
  width:327px;
  height:72px;
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1082 {
  position:absolute;
  left:5px;
  top:19px;
  width:320px;
  word-wrap:break-word;
}
#u1083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:72px;
}
#u1083 {
  position:absolute;
  left:0px;
  top:709px;
  width:327px;
  height:72px;
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1084 {
  position:absolute;
  left:5px;
  top:19px;
  width:320px;
  word-wrap:break-word;
}
#u1085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:72px;
}
#u1085 {
  position:absolute;
  left:0px;
  top:781px;
  width:327px;
  height:72px;
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1086 {
  position:absolute;
  left:5px;
  top:19px;
  width:320px;
  word-wrap:break-word;
}
#u1087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:72px;
}
#u1087 {
  position:absolute;
  left:0px;
  top:853px;
  width:327px;
  height:72px;
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1088 {
  position:absolute;
  left:5px;
  top:19px;
  width:320px;
  word-wrap:break-word;
}
#u1089 {
  position:absolute;
  left:746px;
  top:72px;
  width:371px;
  height:360px;
  visibility:hidden;
}
#u1089_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:377px;
  height:366px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1090 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:365px;
}
#u1091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:72px;
}
#u1091 {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:72px;
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1092 {
  position:absolute;
  left:5px;
  top:19px;
  width:364px;
  word-wrap:break-word;
}
#u1093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:72px;
}
#u1093 {
  position:absolute;
  left:0px;
  top:72px;
  width:371px;
  height:72px;
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1094 {
  position:absolute;
  left:5px;
  top:2px;
  width:364px;
  word-wrap:break-word;
}
#u1095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:72px;
}
#u1095 {
  position:absolute;
  left:0px;
  top:144px;
  width:371px;
  height:72px;
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1096 {
  position:absolute;
  left:5px;
  top:19px;
  width:364px;
  word-wrap:break-word;
}
#u1097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:72px;
}
#u1097 {
  position:absolute;
  left:0px;
  top:216px;
  width:371px;
  height:72px;
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1098 {
  position:absolute;
  left:5px;
  top:19px;
  width:364px;
  word-wrap:break-word;
}
#u1099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:72px;
}
#u1099 {
  position:absolute;
  left:0px;
  top:288px;
  width:371px;
  height:72px;
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1100 {
  position:absolute;
  left:5px;
  top:19px;
  width:364px;
  word-wrap:break-word;
}
#u1101 {
  position:absolute;
  left:371px;
  top:0px;
  width:371px;
  height:216px;
  visibility:hidden;
}
#u1101_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:377px;
  height:222px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1102 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:221px;
}
#u1103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:72px;
}
#u1103 {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:72px;
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1104 {
  position:absolute;
  left:2px;
  top:19px;
  width:367px;
  word-wrap:break-word;
}
#u1105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:72px;
}
#u1105 {
  position:absolute;
  left:0px;
  top:72px;
  width:371px;
  height:72px;
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1106 {
  position:absolute;
  left:2px;
  top:19px;
  width:367px;
  word-wrap:break-word;
}
#u1107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:72px;
}
#u1107 {
  position:absolute;
  left:0px;
  top:144px;
  width:371px;
  height:72px;
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1108 {
  position:absolute;
  left:2px;
  top:19px;
  width:367px;
  word-wrap:break-word;
}
#u1109 {
  position:absolute;
  left:371px;
  top:216px;
  width:371px;
  height:72px;
  visibility:hidden;
}
#u1109_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:377px;
  height:78px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1110 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:77px;
}
#u1111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:72px;
}
#u1111 {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:72px;
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1112 {
  position:absolute;
  left:2px;
  top:19px;
  width:367px;
  word-wrap:break-word;
}
#u1113 {
  position:absolute;
  left:1019px;
  top:72px;
  width:323px;
  height:144px;
  visibility:hidden;
}
#u1113_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:329px;
  height:150px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1114 {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:149px;
}
#u1115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:72px;
}
#u1115 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:72px;
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1116 {
  position:absolute;
  left:5px;
  top:19px;
  width:316px;
  word-wrap:break-word;
}
#u1117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:72px;
}
#u1117 {
  position:absolute;
  left:0px;
  top:72px;
  width:323px;
  height:72px;
  font-family:'Lato';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u1118 {
  position:absolute;
  left:5px;
  top:19px;
  width:316px;
  word-wrap:break-word;
}
