body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2352px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2352px;
  height:1764px;
}
#u792 {
  position:absolute;
  left:0px;
  top:0px;
  width:2352px;
  height:1764px;
}
#u793 {
  position:absolute;
  left:2px;
  top:874px;
  width:2348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2048px;
  height:1536px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u794 {
  position:absolute;
  left:152px;
  top:114px;
  width:2048px;
  height:1536px;
}
#u795 {
  position:absolute;
  left:2px;
  top:760px;
  width:2044px;
  visibility:hidden;
  word-wrap:break-word;
}
#u796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2050px;
  height:1530px;
  background:inherit;
  background-color:rgba(51, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u796 {
  position:absolute;
  left:151px;
  top:117px;
  width:2050px;
  height:1530px;
}
#u797 {
  position:absolute;
  left:2px;
  top:757px;
  width:2046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1930px;
  height:1091px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u798 {
  position:absolute;
  left:210px;
  top:499px;
  width:1930px;
  height:1091px;
}
#u799 {
  position:absolute;
  left:2px;
  top:538px;
  width:1926px;
  visibility:hidden;
  word-wrap:break-word;
}
#u800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u800 {
  position:absolute;
  left:276px;
  top:560px;
  width:407px;
  height:55px;
  font-size:48px;
}
#u801 {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  white-space:nowrap;
}
#u802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
  color:#000000;
}
#u802 {
  position:absolute;
  left:778px;
  top:188px;
  width:797px;
  height:82px;
  font-size:72px;
  color:#000000;
}
#u803 {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  white-space:nowrap;
}
#u804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u804 {
  position:absolute;
  left:230px;
  top:349px;
  width:110px;
  height:110px;
}
#u805 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u806 {
  position:absolute;
  left:276px;
  top:386px;
  width:19px;
  height:37px;
}
#u807 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u808 {
  position:absolute;
  left:615px;
  top:349px;
  width:110px;
  height:110px;
}
#u809 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u810 {
  position:absolute;
  left:661px;
  top:386px;
  width:19px;
  height:37px;
}
#u811 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u812 {
  position:absolute;
  left:1027px;
  top:349px;
  width:110px;
  height:110px;
}
#u813 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u814 {
  position:absolute;
  left:1073px;
  top:386px;
  width:19px;
  height:37px;
}
#u815 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u816 {
  position:absolute;
  left:1416px;
  top:349px;
  width:110px;
  height:110px;
}
#u817 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u818 {
  position:absolute;
  left:1462px;
  top:386px;
  width:19px;
  height:37px;
}
#u819 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u820 {
  position:absolute;
  left:1759px;
  top:349px;
  width:110px;
  height:110px;
}
#u821 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u822 {
  position:absolute;
  left:1805px;
  top:386px;
  width:19px;
  height:37px;
}
#u823 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u824 {
  position:absolute;
  left:2027px;
  top:349px;
  width:110px;
  height:110px;
}
#u825 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u826 {
  position:absolute;
  left:2073px;
  top:386px;
  width:19px;
  height:37px;
}
#u827 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:180px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u828 {
  position:absolute;
  left:1892px;
  top:1410px;
  width:248px;
  height:180px;
  font-size:48px;
}
#u829 {
  position:absolute;
  left:2px;
  top:62px;
  width:244px;
  word-wrap:break-word;
}
#u830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u830 {
  position:absolute;
  left:276px;
  top:794px;
  width:614px;
  height:90px;
}
#u831 {
  position:absolute;
  left:2px;
  top:37px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u832 {
  position:absolute;
  left:325px;
  top:824px;
  width:99px;
  height:29px;
  font-size:36px;
  color:#999999;
}
#u833 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u834 {
  position:absolute;
  left:325px;
  top:936px;
  width:235px;
  height:29px;
  font-size:36px;
  color:#999999;
}
#u835 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:78px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u836 {
  position:absolute;
  left:319px;
  top:1030px;
  width:248px;
  height:78px;
  font-size:48px;
}
#u837 {
  position:absolute;
  left:2px;
  top:12px;
  width:244px;
  word-wrap:break-word;
}
#u838 {
  position:absolute;
  left:1088px;
  top:645px;
  width:846px;
  height:263px;
}
#u839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:86px;
}
#u839 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:86px;
  font-size:36px;
  text-align:center;
}
#u840 {
  position:absolute;
  left:2px;
  top:35px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:86px;
}
#u841 {
  position:absolute;
  left:262px;
  top:0px;
  width:242px;
  height:86px;
  font-size:36px;
  text-align:center;
}
#u842 {
  position:absolute;
  left:2px;
  top:35px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:86px;
}
#u843 {
  position:absolute;
  left:504px;
  top:0px;
  width:252px;
  height:86px;
  font-size:36px;
  text-align:center;
}
#u844 {
  position:absolute;
  left:2px;
  top:35px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:86px;
}
#u845 {
  position:absolute;
  left:756px;
  top:0px;
  width:85px;
  height:86px;
  font-size:36px;
  text-align:center;
}
#u846 {
  position:absolute;
  left:2px;
  top:35px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:86px;
}
#u847 {
  position:absolute;
  left:0px;
  top:86px;
  width:262px;
  height:86px;
  font-size:36px;
  text-align:center;
}
#u848 {
  position:absolute;
  left:2px;
  top:22px;
  width:258px;
  word-wrap:break-word;
}
#u849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:86px;
}
#u849 {
  position:absolute;
  left:262px;
  top:86px;
  width:242px;
  height:86px;
  font-size:36px;
  text-align:center;
}
#u850 {
  position:absolute;
  left:2px;
  top:22px;
  width:238px;
  word-wrap:break-word;
}
#u851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:86px;
}
#u851 {
  position:absolute;
  left:504px;
  top:86px;
  width:252px;
  height:86px;
  font-size:36px;
  text-align:center;
}
#u852 {
  position:absolute;
  left:2px;
  top:22px;
  width:248px;
  word-wrap:break-word;
}
#u853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:86px;
}
#u853 {
  position:absolute;
  left:756px;
  top:86px;
  width:85px;
  height:86px;
  font-size:36px;
  text-align:center;
}
#u854 {
  position:absolute;
  left:2px;
  top:35px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:86px;
}
#u855 {
  position:absolute;
  left:0px;
  top:172px;
  width:262px;
  height:86px;
  font-size:36px;
  text-align:center;
}
#u856 {
  position:absolute;
  left:2px;
  top:22px;
  width:258px;
  word-wrap:break-word;
}
#u857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:86px;
}
#u857 {
  position:absolute;
  left:262px;
  top:172px;
  width:242px;
  height:86px;
  font-size:36px;
  text-align:center;
}
#u858 {
  position:absolute;
  left:2px;
  top:22px;
  width:238px;
  word-wrap:break-word;
}
#u859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:86px;
}
#u859 {
  position:absolute;
  left:504px;
  top:172px;
  width:252px;
  height:86px;
  font-size:36px;
  text-align:center;
}
#u860 {
  position:absolute;
  left:2px;
  top:22px;
  width:248px;
  word-wrap:break-word;
}
#u861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:86px;
}
#u861 {
  position:absolute;
  left:756px;
  top:172px;
  width:85px;
  height:86px;
  font-size:36px;
  text-align:center;
}
#u862 {
  position:absolute;
  left:2px;
  top:35px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u863 {
  position:absolute;
  left:1677px;
  top:661px;
  width:111px;
  height:41px;
  font-size:36px;
}
#u864 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u865 {
  position:absolute;
  left:1389px;
  top:661px;
  width:99px;
  height:41px;
  font-size:36px;
}
#u866 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u867 {
  position:absolute;
  left:276px;
  top:661px;
  width:514px;
  height:90px;
}
#u868 {
  position:absolute;
  left:2px;
  top:37px;
  width:510px;
  visibility:hidden;
  word-wrap:break-word;
}
#u869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#999999;
}
#u869 {
  position:absolute;
  left:325px;
  top:691px;
  width:154px;
  height:29px;
  font-size:36px;
  color:#999999;
}
#u870 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u871 {
  position:absolute;
  left:1123px;
  top:661px;
  width:134px;
  height:41px;
  font-size:36px;
}
#u872 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:118px;
}
#u873 {
  position:absolute;
  left:800px;
  top:655px;
  width:118px;
  height:118px;
}
#u874 {
  position:absolute;
  left:2px;
  top:51px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
}
#u875 {
  position:absolute;
  left:800px;
  top:756px;
  width:60px;
  height:22px;
  color:transparent;
}
#u876 {
  position:absolute;
  left:2px;
  top:3px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u877 {
  position:absolute;
  left:600px;
  top:936px;
  width:200px;
  height:44px;
}
#u877_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:44px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
}
#u877_input:disabled {
  color:grayText;
}
#u878 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u879 {
  position:absolute;
  left:1860px;
  top:750px;
  width:43px;
  height:43px;
}
#u880 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:13px;
}
#u881 {
  position:absolute;
  left:1860px;
  top:785px;
  width:38px;
  height:13px;
}
#u882 {
  position:absolute;
  left:2px;
  top:-2px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u883 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u884 {
  position:absolute;
  left:1860px;
  top:843px;
  width:43px;
  height:43px;
}
#u885 {
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:13px;
}
#u886 {
  position:absolute;
  left:1860px;
  top:878px;
  width:38px;
  height:13px;
}
#u887 {
  position:absolute;
  left:2px;
  top:-2px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:634px;
  height:141px;
}
#u888 {
  position:absolute;
  left:1073px;
  top:1010px;
  width:633px;
  height:140px;
}
#u889 {
  position:absolute;
  left:2px;
  top:62px;
  width:629px;
  visibility:hidden;
  word-wrap:break-word;
}
#u890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u890 {
  position:absolute;
  left:1106px;
  top:1041px;
  width:590px;
  height:119px;
  font-size:36px;
}
#u891 {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  word-wrap:break-word;
}
