body {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    overflow-x: hidden;
}

#logonav
{
    background-image: url(../exports/miralogodes.png);
    background-attachment: inherit;
    background-size: contain;
    width: 130px;
    height: 177px;
    top: -2%;
    bottom: 0;
    left: 85%;
    right: 0;
    position: fixed;
    z-index: 55;
    
    
}

#logonav > img 
{
    max-width: 150px;
}

.mverlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 90;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}




.mverlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

#hmenu
{
    z-index: 89;
    
}


.mverlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.mverlay a:hover, .mverlay a:focus {
    color: #f1f1f1;
}

.mverlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

#head-mverlay
{
    background: #fff;
    min-height: 100vh;
    
    
}

#cardo
{
    border: 0;
    position: relative;
}

#cardotext
{
    position: absolute;
    bottom: -68px;
    background-color: white;
    z-index: 15;
    width: 75%;
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 5px;
    box-shadow: 0 0px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    
    
}

.card-body
{
   
   left: 0;
   right: 0;
   border-radius: 5px;
   box-shadow: 0 0px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   
}

.card-text
{
    text-align: justify;
}





#why-us
{
    min-height: 100vh
}



.slider-anim
{
    position: absolute;
    z-index: 2;
    background-color: white;
    opacity: 0;
    height: inherit;
    
    
}

#slidercontent1 > img
{
    max-width: 900px;
    
    
    
}

#slidercontent2 > img
{
    max-width: 900px;
    
    
}

#slidercontent3 > img
{
    max-width: 900px;
    
    
}
#slidercontent4 > img
{
    max-width: 900px;
    
    
}

#taglineland
{
   text-align: center;
    margin-top: 20%;
    
    
}

#taglineland p
{
    font-family: Playfair Display, serif;
    font-size: 48px
    
}

#collections
{
    background-color: #F9F6F6;
    padding-top: 5%;
    padding-bottom: 5%;
}


#cctitle
{
    font-family: Playfair Display, serif;
    font-size: 36px;
    font-weight: 700;
    
}

.caro-img 
{
    position: relative;
    overflow: hidden;
    
}

.transitionbox
{
    background: -moz-radial-gradient(center, ellipse cover, rgba(254,255,255,1) 0%, rgba(226,226,226,0.75) 100%);
    
    background: radial-gradient(ellipse at center, rgba(254,255,255,1) 0%,rgba(226,226,226,0.75) 100%);
    
    background: -webkit-radial-gradient(center, ellipse cover, rgba(254,255,255,1) 0%,rgba(226,226,226,0.75) 100%);
    
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 100%;
    height: 100%;
    width: 100%;
    z-index: 20;
    opacity: 0;
    transform: scale(0,0);
    
    
    
}

.carotitle
{
    text-align: center;
    font-family: Playfair Display, serif;
    font-size: 24px;
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
    width: 100%;
    z-index: 25;
    opacity: 0;
    
}




/*buttons*/

.btn-outline-dark:hover
{
/*    border: none !important;*/
    border: solid 1px #2596D2 !important;
    color: #2596D2 !important;
}



#theme-button1
{
    border-radius: 0px !important;
/*    border: solid black 1px;*/
    font-size: 14px;
        

}

#Miradormatters
{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding-top: 5%;
    padding-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    
}

#Miradormatters:hover
{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    
    
}






#mdmatters1
{
    min-height: 50vh;
    
}

#mdmatters2
{
    padding: 0 10% 0 10%;
}


#mdm21
{
    background-image: url(../exports/livingnature.png)
        
    
}

#mdm22
{
    
}



#subtitle
{
    font-family: Playfair Display, serif;
    font-size: 30px;
    font-weight: 600;
    
}

#tagline2
{
    font-family: Playfair Display, serif;
    font-weight: 700;
    font-size: 36px
    
}

#copy
{
    
}

#why-us
{
    background: url('../exports/backgroundmirador.jpg') no-repeat scroll center bottom -120px / 100% auto;
    background-attachment: fixed;
}




#mdmatters2
{
    
    min-height: 50vh;
    
}

#owl-father
{
    padding-top: 5%;
}

#outcollec:hover
{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    
}

#outcollec:clicked
{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);  
}


.owl-container
{
    padding: 2%;
}

.collection-title
{
    padding-top: 2%;
}

.md-form
{
    width: 100%;
}

#contactbox
{
    padding: 2%;
    
    border-radius: 12px;
    border: solid 1px #F9F6F6;
    padding-bottom: 5%;
    background-color: white;
    padding-top: 2%;
    overflow: hidden;
}

#footer
{
    background-color: #323232;
    
}


#outcollec
{
    color: black;
}



#footertitle
{
    text-transform: uppercase;
    color: white;
    padding-top: 10%;
    padding-bottom: 2%;
    font-size: 20px;
    font-weight: 500;
}

#foosub
{
    color: white;
    text-transform: capitalize;
}

#foocolumn
{
    margin-left: 10%
}

.caro-img > img
{
   
}


/*theme page*/



#themeheader1
{
    height: 100vh;
    position: relative;
    padding-right: 2%;
    padding-top: 10%;
    padding-bottom: 20%;
    padding-left: 40%;
    overflow: hidden;
   
}


#themeparent
{
    font-family: Playfair display serif;
    font-size: 90px;
    letter-spacing: 30px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 5%;
    padding-bottom: 5%;
}


/*
#themeshome1
{
    height: 100vh;
    position: relative;
    padding-right: 2%;
    padding-top: 10%;
    padding-bottom: 20%;
    padding-left: 40%;
    overflow: hidden;
    //background: grey
}


#themeshome2
{
    height: 100vh;
    position: relative;
    padding-right: 2%;
    padding-top: 10%;
    padding-bottom: 20%;
    padding-left: 40%;
    overflow: hidden;
    background: grey;
    
}


#themeshome3
{
    height: 600px;
    width: 450px;
    position: relative;
    margin-right: 150%;
    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 10%;
    overflow: hidden;
    background: grey;
}




.overfixedth1
{   
    height: 580px;
    width: 580px;
    background-color: white;
    background-image:url(../exports/theme1.png);
    background-repeat: no-repeat;
    background-position:left top;
    background-attachment: fixed;
    
    
}

.overfixedth2
{   
    height: 580px;
    width: 580px;
    background-color: white;
    background-image:url(../exports/theme2.png);
    background-repeat: no-repeat;
    background-position:center top;
    background-attachment: fixed;
   
    
}

.overfixedth3
{   
    height: inherit;
    width: inherit;
    background-image:url(../exports/theme3.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right 70px top;
    
    
    
}
*/








#themeheader2
{
    height: 100vh;
    position: relative;
    padding-left: 2%;
    padding-top: 25%;
    padding-bottom: 20%;
    padding-right: 10%;
   
}



.overfixed
{
    height: 580px;
    width: 580px;
    background-color: white;
    background-image:url(../exports/IMG_0003.png);
    background-repeat: no-repeat;
    background-position:200px -100px;
    background-size:contain;    
    position: absolute;
    background-attachment: fixed;
    padding: 10%;
    
}

.overfixed2
{
    height: 540px;
    width: 480px;
    background-color: white;
   background-image:url(../exports/rail.jpg);
    background-repeat: no-repeat;
    background-position:700px -100px;
    background-size:90%;
    position: absolute;
    background-attachment: fixed;
    padding: 10%;
    background-color: lightgrey;
    padding: 10%;
    
}

#thememainimg
{
    background-image: url(../exports/IMG_0003.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}





#themetitlecontainer
{
    width: 800px;
    height: 200px;
    background: rgba(0,0,0,0.3);
    position: absolute;
    margin: auto;
    top: 20%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 31
}

#themetitlecontainer > p
{
    font-family: Playfair Display, serif;
    font-size: 72px;
    letter-spacing: 8px;
    font-weight: 900;
    text-align: center;
    position: absolute;
    margin: auto;
    top: 25%;
    left: 0;
    right: 0;
    bottom: 0;
    
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: rgba(0,0,0,0.1);
    z-index: 32;
}


.tptitlecontainer
{
    position: absolute;
    width: auto;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 33;
    
    
}

.tptitlecontainer > p

{
    font-family: Playfair Display, serif;
    font-size: 46px;
    letter-spacing: 8px;
    font-weight: 900;
    text-align: center;
    position: absolute;
    margin: auto;
    top: 25%;
    left: 0;
    right: 0;
    bottom: 0;
    
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: rgba(0,0,0,0.1);
    z-index: 34;
    
    
    
    
}








.tile
{
    position: relative;
    overflow:hidden;
    height: 500px;
    
    

}


.tile2
{
    position: relative;
    overflow: hidden;
    max-width: 900px;
    max-height: auto;
    padding-bottom: 1%;
    
}


.tile-img
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: inherit;
    height: inherit;
    overflow: hidden;
    
    
}

.tile-img > img
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: inherit;
    height: inherit;
}






#contactmodal
{
    background-color: #F9F6F6;
    height: 400px;
}

#contactsub
{
    font-size: 22px;
}

#contacttitle
{
    font-family: Playfair Display, serif;
    font-weight: 600;
    font-size: 36px;
}


/*about page*/

#brandphilosophy > .container > p
{
    text-align: center;
    font-family: Playfair Display, serif;
    font-size: 38px;
    text-transform: uppercase;
    
    
    font-weight: 700;
    letter-spacing: 16px;
    
    
}

#journey
{
    padding: 10% 0 30% 0;
    
    
}


#journeyimg
{
    background-image: url(../exports/jimage.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 400px;
    position: relative;
    
}

.journeytitle
{
    
    position: absolute;
    z-index: 0;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    
    
}

.journeytitle > p
{
    color: white;
    font-family: Playfair Display, serif;
    font-size: 100px;
    text-transform: capitalize;
    font-weight: 800;
    text-align: center;
}





@media screen and (max-height: 450px) {
  .mverlay a {font-size: 20px}
  .mverlay .closebtn {
    font-size: 40px;
    top: 10px;
    right: 35px;
  }
}