body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2502px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:150px;
  top:90px;
  width:2352px;
  height:1764px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2352px;
  height:1764px;
}
#u2 {
  position:absolute;
  left:2px;
  top:874px;
  width:2348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:302px;
  top:204px;
  width:2048px;
  height:1536px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2048px;
  height:1536px;
}
#u4 {
  position:absolute;
  left:2px;
  top:760px;
  width:2044px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:1096px;
  top:610px;
  width:484px;
  height:57px;
  font-size:72px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:57px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:934px;
  top:950px;
  width:448px;
  height:57px;
  font-size:48px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:57px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:934px;
  top:1116px;
  width:448px;
  height:57px;
  font-size:48px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:57px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:1302px;
  top:940px;
  width:440px;
  height:76px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:76px;
  background-image:none;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12 {
  position:absolute;
  left:1302px;
  top:1100px;
  width:440px;
  height:76px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:76px;
  background-image:none;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  position:absolute;
  left:934px;
  top:1260px;
  width:808px;
  height:100px;
  font-size:48px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:808px;
  height:100px;
}
#u14 {
  position:absolute;
  left:2px;
  top:22px;
  width:804px;
  word-wrap:break-word;
}
