body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2352px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2362px;
  height:1626px;
}
#u1033 {
  position:absolute;
  left:0px;
  top:74px;
  width:2352px;
  height:1616px;
}
#u1034 {
  position:absolute;
  left:2px;
  top:800px;
  width:2348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2048px;
  height:1536px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1035 {
  position:absolute;
  left:152px;
  top:114px;
  width:2048px;
  height:1536px;
}
#u1036 {
  position:absolute;
  left:2px;
  top:760px;
  width:2044px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u1037 {
  position:absolute;
  left:17px;
  top:824px;
  width:116px;
  height:116px;
}
#u1038 {
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2050px;
  height:1530px;
  background:inherit;
  background-color:rgba(153, 255, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1039 {
  position:absolute;
  left:151px;
  top:117px;
  width:2050px;
  height:1530px;
}
#u1040 {
  position:absolute;
  left:2px;
  top:757px;
  width:2046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1930px;
  height:1091px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1041 {
  position:absolute;
  left:210px;
  top:499px;
  width:1930px;
  height:1091px;
}
#u1042 {
  position:absolute;
  left:2px;
  top:538px;
  width:1926px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
  color:#000000;
}
#u1043 {
  position:absolute;
  left:924px;
  top:188px;
  width:505px;
  height:82px;
  font-size:72px;
  color:#000000;
}
#u1044 {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  white-space:nowrap;
}
#u1045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:180px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u1045 {
  position:absolute;
  left:1892px;
  top:1410px;
  width:248px;
  height:180px;
  font-size:48px;
}
#u1046 {
  position:absolute;
  left:2px;
  top:62px;
  width:244px;
  word-wrap:break-word;
}
#u1047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u1047 {
  position:absolute;
  left:230px;
  top:349px;
  width:110px;
  height:110px;
}
#u1048 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1049 {
  position:absolute;
  left:276px;
  top:386px;
  width:19px;
  height:37px;
}
#u1050 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u1051 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u1052 {
  position:absolute;
  left:505px;
  top:349px;
  width:110px;
  height:110px;
}
#u1053 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1054 {
  position:absolute;
  left:551px;
  top:386px;
  width:19px;
  height:37px;
}
#u1055 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u1056 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u1057 {
  position:absolute;
  left:778px;
  top:349px;
  width:110px;
  height:110px;
}
#u1058 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1059 {
  position:absolute;
  left:824px;
  top:386px;
  width:19px;
  height:37px;
}
#u1060 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u1061 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u1062 {
  position:absolute;
  left:1067px;
  top:350px;
  width:110px;
  height:110px;
}
#u1063 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1064 {
  position:absolute;
  left:1113px;
  top:387px;
  width:19px;
  height:37px;
}
#u1065 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u1066 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u1067 {
  position:absolute;
  left:1347px;
  top:344px;
  width:110px;
  height:110px;
}
#u1068 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1069 {
  position:absolute;
  left:1393px;
  top:381px;
  width:19px;
  height:37px;
}
#u1070 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u1071 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u1072 {
  position:absolute;
  left:1632px;
  top:344px;
  width:110px;
  height:110px;
}
#u1073 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1074 {
  position:absolute;
  left:1678px;
  top:381px;
  width:19px;
  height:37px;
}
#u1075 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u1076 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u1077 {
  position:absolute;
  left:1961px;
  top:344px;
  width:110px;
  height:110px;
}
#u1078 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1079 {
  position:absolute;
  left:2007px;
  top:381px;
  width:19px;
  height:37px;
}
#u1080 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u1081 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1082 {
  position:absolute;
  left:1209px;
  top:774px;
  width:50px;
  height:50px;
}
#u1083 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u1084 {
  position:absolute;
  left:1146px;
  top:769px;
  width:55px;
  height:55px;
}
#u1085 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:13px;
}
#u1086 {
  position:absolute;
  left:1146px;
  top:816px;
  width:100px;
  height:13px;
}
#u1087 {
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u1088 {
  position:absolute;
  left:276px;
  top:1196px;
  width:518px;
  height:55px;
  font-size:48px;
}
#u1089 {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  white-space:nowrap;
}
#u1090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1090 {
  position:absolute;
  left:824px;
  top:1174px;
  width:464px;
  height:100px;
}
#u1091 {
  position:absolute;
  left:2px;
  top:42px;
  width:460px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u1092 {
  position:absolute;
  left:1339px;
  top:1196px;
  width:60px;
  height:55px;
  font-size:48px;
}
#u1093 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u1094 {
  position:absolute;
  left:1438px;
  top:1184px;
  width:588px;
  height:80px;
}
#u1094_input {
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:80px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-decoration:none;
  color:#000000;
}
#u1094_input:disabled {
  color:grayText;
}
#u1095 {
  position:absolute;
  left:285px;
  top:739px;
  width:808px;
  height:347px;
}
#u1096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:114px;
}
#u1096 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:114px;
  font-size:48px;
  text-align:center;
}
#u1097 {
  position:absolute;
  left:2px;
  top:30px;
  width:397px;
  word-wrap:break-word;
}
#u1098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:114px;
}
#u1098 {
  position:absolute;
  left:401px;
  top:0px;
  width:402px;
  height:114px;
  font-size:48px;
  text-align:center;
}
#u1099 {
  position:absolute;
  left:2px;
  top:30px;
  width:398px;
  word-wrap:break-word;
}
#u1100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:114px;
}
#u1100 {
  position:absolute;
  left:0px;
  top:114px;
  width:401px;
  height:114px;
  font-size:48px;
  text-align:center;
}
#u1101 {
  position:absolute;
  left:2px;
  top:30px;
  width:397px;
  word-wrap:break-word;
}
#u1102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:114px;
}
#u1102 {
  position:absolute;
  left:401px;
  top:114px;
  width:402px;
  height:114px;
  font-size:48px;
  text-align:center;
}
#u1103 {
  position:absolute;
  left:2px;
  top:30px;
  width:398px;
  word-wrap:break-word;
}
#u1104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:114px;
}
#u1104 {
  position:absolute;
  left:0px;
  top:228px;
  width:401px;
  height:114px;
  font-size:48px;
  text-align:center;
}
#u1105 {
  position:absolute;
  left:2px;
  top:49px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:114px;
}
#u1106 {
  position:absolute;
  left:401px;
  top:228px;
  width:402px;
  height:114px;
  font-size:48px;
  text-align:center;
}
#u1107 {
  position:absolute;
  left:2px;
  top:49px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:78px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u1108 {
  position:absolute;
  left:276px;
  top:1316px;
  width:248px;
  height:78px;
  font-size:48px;
}
#u1109 {
  position:absolute;
  left:2px;
  top:12px;
  width:244px;
  word-wrap:break-word;
}
#u1110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
  color:#999999;
}
#u1110 {
  position:absolute;
  left:263px;
  top:590px;
  width:713px;
  height:55px;
  font-size:48px;
  color:#999999;
}
#u1111 {
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  white-space:nowrap;
}
#u1112 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1113 {
  position:absolute;
  left:1209px;
  top:880px;
  width:50px;
  height:50px;
}
#u1114 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u1115 {
  position:absolute;
  left:1146px;
  top:875px;
  width:55px;
  height:55px;
}
#u1116 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:13px;
}
#u1117 {
  position:absolute;
  left:1146px;
  top:922px;
  width:100px;
  height:13px;
}
#u1118 {
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
